
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;300;400;500;700&display=swap');



.testimonial2 blockquote {
  margin: 10px 10px 0;
  background: #7cb6a7;
  padding: 40px 20px;
  position: relative;
  border: none;
  border-radius: 8px;
  color:white;
  font-size: 1.2rem;
  line-height: 1.8;
font-family: 'Newreader', serif;
}

.testimonial2 blockquote:before,
.testimonial2 blockquote:after {
  content: "\201C" !important;
  position: absolute !important;
  font-size: 80px;
  line-height: 1;
  font-style: normal;
}

.testimonial2 blockquote:before {
  top: 0;
  left: 10px;
}

.testimonial2 blockquote:after {
  content: "\201D" !important;
  right: 10px;
  bottom: -0.5em;
}

.testimonial2 div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #7cb6a7;
  left: 30px;
    top: -25px;
    position: relative;
    z-index: -1;
}

.testimonial2 p {
  margin: 8px 0 0 20px;
  text-align: left;
}

.test-author {
  font-size: 16pt;
  margin: 0 !important;
  top: -15px;
  position: relative;
}
 
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #444;
  font-size: 1rem;
  line-height: 1.5;
}

              
.slider {
  height: calc( 1000px - 60vw );
  min-height: 530px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__nav {
  margin: 2rem 12px !important;
  z-index:10;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner  {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner   {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner   {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner   {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner   {
  left: -400%;
}

.slider__nav:checked:nth-of-type(6) ~ .slider__inner   {
  left: -500%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: calc(5vw - 40px);
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #017ea8;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #017ea8;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
              
                  @media screen and (max-width: 991.98px) {
        
        
        .scene .hero {
            margin: 110px 0 5vw 0;
        }
        .scene.header {
                padding: 5vw 30px;
        }
        
        .hero h2 {
            font-size: 24px;
        }
    }
              
              @media screen and (max-width: 768px) {
                  .testimonial2 blockquote { 
                      font-size: 1rem;
                      line-height: 1.5;
                        overflow: scroll;
                        height: 400px;
                      padding: 20px;
                  }
                  
                  .scene {
                      padding: revert;
                  }
                  
                  .testimonial2 blockquote:before,
                  .testimonial2 blockquote:after {display: none;}
                  
                  .test-author {
                      font-size:16px;
                  }
                  
                  p {
                      font-size: 1.2rem;
                    line-height: 1.5;
                      padding: 0 20px;
                  }
                  
                  .slider {
                      height: 560px;
                  }
              }
              
  

html {
        scroll-behavior: smooth;
        z-index: 9;
        background: #55A08D;
    }

    body {
        margin-top:100px;
        background: white;
    }

    section img {
        width: 100%;
        padding: 20px 0;
    }

    .img300 {
            width: 300px;
    float: left;
    padding: 0;
    border-radius: 10px;
    margin: 20px 30px 50px 0;
          }

    h1, h2, h3, h4, h5, h6, p, a, li, {
        font-family: 'Newsreader', serif;
    }

    h1 {
        margin: 10px 0 20px 0;
        background: #572F7C;
        padding: 15px;
        border-radius: 15px;
        color: white;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

	h2,h3,h4,h5,h6, h2 a, h3 a, h4 a, h5 a, h6 a{
        color: #55A08D;
        font-family: 'Newsreader', serif;
	}

    h2 {padding: 40px 0 20px 0;}

    a, a:hover {
        color:#935195;
    }

    .container {
        display: grid;
    }

    .section-title {
        border-radius: 8px;
        padding: 25px;
    }

    #rates {
    }

    .flag {
        width: 40px;
        display: block;
        margin-left: 10px;
    }

    .flags {
        color: white;
        margin-right: 20px;
        margin-left: auto;
        display: block;
        width: 40px;
    }

    section {

        border-radius: 8px;
        display: inline-block;
    }

    #logo {
        width:50px;
        float: left;
        margin-right: 10px;
    }


#nav-wrapper {
    max-width: 1200px;
}

#menu-main-nav {
    width: 700px;
    right: 0;
    position: fixed;
}


    .navbar {
        position: fixed;
        width: 100%;
        transition: 0.2s;
        top:0;
        z-index: 99999;
        background: #55a08dc4;
        backdrop-filter: blur(5px);

    }
	.nav-link {
		font-size: 23px;
		color: white;
        text-decoration: none;
        font-family: 'Newsreader', serif;
	}
    .nav-link:hover {
        color: white;
    }

    .dropdown-item {
        font-size: 14pt;
        text-decoration: none;
        text-align: left;
        margin-left: 20px;
        color: #572f7c;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background: none;
        color: #55A08D;
    }

    .dropdown-item.active, .dropdown-item:active {
        background: none;
    }

    .dropdown-menu {
        background: #d8ccc6;
        border-radius: 0 0 15px 15px;
        border: 0;
    }



	.navbar-brand {
		font-size: 28px;
		color: white !important;
        text-decoration: none;
        line-height: 0.95;
        font-family: 'Newsreader', serif;
	}

    .nav-down {
        top:0px;
    }
    .nav-up {
        top:-82px;
    }

	.navbar-light .navbar-toggler {
		color: white;
	}

#contact-button {
    border: 2px solid #572F7C;
    border-radius: 5px;
    transition: 0.2s;
}

#contact-button:hover {
    background: #572F7C;
    transition: 0.2s;
}
	.logo {
		width: 130px;
	}

    .logo-subhead {
        font-size:12pt;
        margin:0 auto;
        padding:0;
        display:block;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
#yt-widget {
    position: relative !important;
    top: 6px;
}

#yt-widget .yt-servicelink {
    display: none !important;
}

#yt-widget .yt-button {
/*    background: #D8CCC6 !important;*/
    border: 0 !important;
}



    #hamburger-button {
        font-size:35px;
        cursor:pointer;
    }

/*        BEGIN MOBILE FULL-WIDTH NAV*/

    #hamburger-menu {
        position: fixed;
        width: 25px;
        height: 20px;
        margin: 15px;
        right: 15px;
        top: 8px;
        z-index: 999999;
        cursor: pointer;
        display: none;
    }

        #hamburger-menu span {
            opacity: 1;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            color: black;
            background-color: white;
            position: absolute;
            transform: rotate(0deg);
            transition: .4s ease-in-out;
        }

        #hamburger-menu span:nth-child(1) {
            top: 0;
        }
        #hamburger-menu span:nth-child(2) {
            top: 9px;
        }
        #hamburger-menu span:nth-child(3) {
            top: 18px;
        }
        #hamburger-menu.open span:nth-child(1) {
            transform: translateY(9px) rotate(135deg);
        }
        #hamburger-menu.open span:nth-child(2) {
            opacity: 0;
            transform: translateX(-60px);
        }
        #hamburger-menu.open span:nth-child(3) {
            transform: translateY(-9px) rotate(-135deg);
        }


    #mobileNav li {
        list-style-type: none;
    }

    #mobileNav li a:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      background-color: #55a08dc4;
      overflow-x: hidden;
      transition: 0.5s;

    }

    .blurred {
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter:blur(5px);
    }

    .overlay-content {
      position: relative;
      width: 100%;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 30px;
      color: white;
      display: inline-block;
      transition: 0.3s;
    }

    .overlay .closebtn {
      position: absolute;
      top: 0;
      right: 18px;
      font-size: 60px;
      z-index: 1;ø
    }

    .closebtn:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }


      footer {
          background: #572F7C;
          color: white;
          text-align: center;
          padding: 20px;
      }

    footer p a, footer p a:hover {
        color: white;
        text-decoration: underline;
        }

.social-icon {
   width: 40px;
    filter: invert();
    opacity: 50%;
    margin: 10px;
}

.social-icon:hover {
    opacity: 100%;
    cursor: pointer;
}



    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }

@media screen and (max-width: 991.98px) {
    #hamburger-menu {
        display: block;
    }
    
    .mobile-hidden {
        display: none;
    }

    .scene .hero {
        margin: 110px 0 5vw 0;
    }
    .scene.header {
            padding: 5vw 30px;
    }

    .hero h2 {
        font-size: 24px;
    }
}
              
              @media screen and (max-width: 768px) {
                  
                  body {margin-top:67px}
                  
                  .container {
                      display: block;
                  }
                  
                  .section-title {width: 95%;}
                  
                  section img { width:100%}
                  .testimonial2 blockquote { 
                      font-size: 1rem;
                      line-height: 1.5;
                        overflow: scroll;
                        height: 400px;
                      padding: 20px;
                  }
                  
                  .scene {
                      padding: revert;
                  }
                  
                  .testimonial2 blockquote:before,
                  .testimonial2 blockquote:after {display: none;}
                  
                  .test-author {
                      font-size:16px;
                  }
                  
                  p {
                      font-size: 1.2rem;
                    line-height: 1.5;
                      padding: 0 20px;
                  }
                  
                  .slider {
                      height: 560px;
                  }
              }
