
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');

html {
        scroll-behavior: smooth;
        z-index: 9;
    }

    body {
        margin-top:100px;
    }

    section img {
        max-width: 100%;
        float: left;
        padding: 20px;
        border-radius: 25px;
    }

    h1 {
        margin: 10px 0 20px 0;
        background: #572F7C;
        padding: 15px;
        border-radius: 15px;
        color: white;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
    }

	h2,h3,h4,h5,h6, h2 a, h3 a, h4 a, h5 a, h6 a{
        color: #55A08D;
	}

    h2 {padding: 40px 0 20px 0;}

    p {
        font-family: 'Fira Sans', sans-serif;
    }

    a, a:hover {
        color:#935195;
    }

    .container {
        max-width: 800px;
        display: grid;
    }

    .section-title {
        margin: -20px -30px 20px -30px;
        border-radius: 8px 8px 0 0;
        padding: 25px;
    }

    #rates {
    }

    .flag {
        width: 40px;
        display: block;
        margin-left: 10px;
    }

    .flags {
        color: white;
        margin-right: 20px;
        margin-left: auto;
        display: block;
        width: 40px;
    }

    section {
/*        margin: 30px auto;*/
        padding: 30px;
        padding-top: 20px;
        border-radius: 8px;
        display: inline-block;
    }

    #logo {
        width:50px;
        float: left;
        margin-right: 10px;
    }


#nav-wrapper {
    max-width: 1200px;
}

#menu-main-nav {
    width: 700px;
    right: 0;
    position: fixed;
}


    .navbar {
        position: fixed;
        width: 100%;
        transition: 0.2s;
        top:0;
        z-index: 99999;
        background: #55a08dc4;
        backdrop-filter: blur(5px);

    }
	.nav-link {
		font-size: 20px;
		color: white;
        text-decoration: none;
        font-family: 'Fira Sans', sans-serif;
	}
    .nav-link:hover {
        color: white;
    }

    .dropdown-item {
        font-size: 14pt;
        text-decoration: none;
        text-align: left;
        margin-left: 20px;
        color: #572f7c;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        background: none;
        color: #55A08D;
    }

    .dropdown-item.active, .dropdown-item:active {
        background: none;
    }

    .dropdown-menu {
        background: #d8ccc6;
        border-radius: 0 0 15px 15px;
        border: 0;
    }



	.navbar-brand {
		font-size: 28px;
		color: white !important;
        text-decoration: none;
        line-height: 0.95;
        font-family: 'Fira Sans', sans-serif;
	}

    .nav-down {
        top:0px;
    }
    .nav-up {
        top:-82px;
    }

	.navbar-light .navbar-toggler {
		color: white;
	}
	.logo {
		width: 130px;
	}

    .logo-subhead {
        font-size:12pt;
        margin:0 auto;
        padding:0;
        display:block;
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

#yt-widget .yt-servicelink {
    display: none !important;
}

#yt-widget .yt-button {
/*    background: #D8CCC6 !important;*/
    border: 0 !important;
}



    #hamburger-button {
        font-size:35px;
        cursor:pointer;
    }

/*        BEGIN MOBILE FULL-WIDTH NAV*/

    #hamburger-menu {
        position: fixed;
        width: 25px;
        height: 20px;
        margin: 15px;
        right: 15px;
        top: 8px;
        z-index: 999999;
        cursor: pointer;
        display: none;
    }

        #hamburger-menu span {
            opacity: 1;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            color: black;
            background-color: white;
            position: absolute;
            transform: rotate(0deg);
            transition: .4s ease-in-out;
        }

        #hamburger-menu span:nth-child(1) {
            top: 0;
        }
        #hamburger-menu span:nth-child(2) {
            top: 9px;
        }
        #hamburger-menu span:nth-child(3) {
            top: 18px;
        }
        #hamburger-menu.open span:nth-child(1) {
            transform: translateY(9px) rotate(135deg);
        }
        #hamburger-menu.open span:nth-child(2) {
            opacity: 0;
            transform: translateX(-60px);
        }
        #hamburger-menu.open span:nth-child(3) {
            transform: translateY(-9px) rotate(-135deg);
        }


    #mobileNav li {
        list-style-type: none;
    }

    #mobileNav li a:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;
      background-color: #572f7cf2;
      overflow-x: hidden;
      transition: 0.5s;

    }

    .blurred {
        backdrop-filter:blur(5px);
        -webkit-backdrop-filter:blur(5px);
    }

    .overlay-content {
      position: relative;
      width: 100%;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: white;
      display: inline-block;
      transition: 0.3s;
    }

    .overlay .closebtn {
      position: absolute;
      top: 0;
      right: 18px;
      font-size: 60px;
      z-index: 1;ø
    }

    .closebtn:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
    }


      footer {
          background: #572F7C;
          color: white;
          text-align: center;
          padding: 20px;
      }

    footer p a, footer p a:hover {
        color: white;
        text-decoration: underline;
        }



    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }

@media screen and (max-width: 991.98px) {
    #hamburger-menu {
        display: block;
    }
}
